/** Font Family Configuration */
html, body {
  color: var(--text-2);
	font-family: var(--font-family-1);
}

/** Basic Helper Classes */

.font-family-1 {
  font-family: var(--font-family-1);
}

.font-family-2 {
  font-family: var(--font-family-2);
}

.container {
  max-width: 1366px;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  &.pd-sm {
    padding: 0 8px;
  }
  &.pd-lg {
    padding: 0 24px;
  }
}

.padded {
  padding: 16px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: 700;
}