@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('OpenSans-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans Italic'), url('OpenSans-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url('OpenSans-Light.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), url('OpenSans-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Open Sans SemiBold'), url('OpenSans-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Open Sans SemiBold Italic'), url('OpenSans-SemiBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Bold'), url('OpenSans-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Bold Italic'), url('OpenSans-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans ExtraBold'), url('OpenSans-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans ExtraBold Italic'), url('OpenSans-ExtraBoldItalic.woff') format('woff');
}