button, .button,
[type=button],
[type=submit],
[type=reset] {
  border: none;
  min-height: 48px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  padding: 0 32px;
  border-radius: 44px;  
  background: none;
  transition: 200ms;
  font-weight: 600;
  width: auto;
  white-space: nowrap;
  border: solid 1px var(--color-text-3);
  color: var(--color-text-3);
  &:active {
    transform: translateY(+2px);
  }
  .button-icon {
    &:first-child {
      margin-right: 6px;
    }
    &:last-child {
      margin-left: 6px;
    }
  }
  &:hover, &:active {
    transition: 200ms;
    filter: contrast(0.8);
  }
  input[type=file] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    appearance: none;
    border: none;
    width: auto;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    max-width: 100%;
  }
  > span {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 8px;
    }    
  }
  &.btn-w-100 {
    min-width: 100px;
  }
  &.btn-w-200 {
    min-width: 200px;
  }
  &.btn-w-300 {
    min-width: 300px;
  }
  &.btn-blocked {
    width: 100%;
    display: flex;
  }
}

[class*="button-circle"] {
  min-height: unset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.button-primary,
.button-circle-primary {
  color: #fff;
  border: var(--color-brand-1);
  background-color: var(--color-brand-1);
}

.button-secondary,
.button-circle-secondary {
  color: var(--color-brand-1);
  border-color: var(--color-brand-1);
}

.button-seamless,
.button-circle-seamless {
  border: none;
  background: none;
  color: var(--color-brand-1);
}

.button-circle-action {
  color: var(--color-text-2);
  border-color: var(--color-surface-5);
  background-color: var(--color-surface-5);
}

.button-support {
  background-color: var(--color-surface-3);
  .button-icon {
    color: var(--color-brand-1);
  }
}

.button-white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

button, [class*="button"] {
  &.button-disabled, &[disabled] {
    opacity: .4;
    cursor: default;
    color: var(--color-gray-600);
    border: solid 1px var(--color-gray-600);
    background-color: var(--color-gray-300);
    &:active {
      transition: none;
    }
  }
}

.button-small {
  height: 40px;
  min-height: unset;
}