:root {
  --form-input-height: 48px;
}

fieldset {
  padding: 16px;
  margin-bottom: 24px;
  border: solid 1px var(--color-gray-300);
  border-radius: 4px;
  legend {
    padding: 0 10px;
    color: var(--color-brand-1);
  }
}

.field {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 24px;
  label {
    z-index: 1;
    position: absolute;
    top: -9px;
    left: 12px;
    padding: 0 6px;
    background-color: #fff;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  input, textarea, select {
    &+label {
      position: static;
      padding: 0 16px;
      padding-top: 4px;
      background: unset;
      display: block;
    }
  }
  &:focus-within {
    label:first-child {
      color: var(--color-brand-1);
    }
  }
  &.switch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    label {
      cursor: pointer;
      position: static;
      align-items: center;
      display: inline-flex;
    }
    &:focus-within {
      label:first-child {
        color: var(--color-text-1);
      }
    }    
  }
  &[data-input-icon],
  &[data-input-icon="left"] {
    input {
      padding-left: var(--form-input-height);
    }
    .input-icon {
      color: var(--color-text-1);
      height: var(--form-input-height);
      width: var(--form-input-height);
      position: absolute;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      z-index: 0;
      top: 0;
    }
  }
  &[data-input-icon="right"] {
    input {
      padding-left: 16px;
      padding-right: var(--form-input-height);
    }
    .input-icon {
      top: 0;
      right: 0;
    }
  }
}

input, input[type=search], textarea, select {
  width: 100%;
  height: var(--form-input-height);
  outline: none;
  border: 1px solid #A99AC1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 16px;
  box-sizing: border-box;
  background: #fff;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-1);  
  &:hover:not(:focus) {
    border-color: var(--color-brand-1);
  }
  &:focus {
    border: none;
    outline: solid 2px var(--color-brand-1);
  }
}

input[type="color"] {
  background-color: transparent;
  padding: 8px;
}
	
input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px;
  cursor: pointer;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: none;
  transition: 180ms; 
  border-radius: 4px;
  border: solid 2px var(--color-text-1);
  &::before {
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffff;
    transition: 180ms; 
    background-color: var(--color-brand-1);
    height: 100%;
    width: 100%;
  }
  &:after {
    content: "";
    display: inline-block;
    transform: rotate(45deg); 
    height: 12px;
    width: 5px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    position: absolute;
    left: 6px;
    top: 1px;
  }
  &:checked {
    border-color: var(--color-brand-1);
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

input[type="radio"] {
  border-radius: 100%;
  &::before{
    content: "";
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    border-radius: 100%;
  }
  &::after {
    display: none;
  }
}

input[type="checkbox"][data-toggler] {
  border-radius: 25px;
  height: 24px;
  cursor: pointer;
  width: 48px;
  &::before {
    top: 2px;
    left: 2px;
    content: "";
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 100%;
    height: calc(100% - 4px);
    width: 16px;
    background-color: var(--color-text-1);
  }
  &::after {
    display: none;
  }
  &:checked {
    border-color: var(--color-brand-1);
    background-color: var(--color-brand-1);
    &::before {
      content: "";
      top: 2px;
      left: 26px;
      background-color: #fff;
      font-size: 14px;
      color: var(--color-brand-1);
    }
    &::after {
      display: initial;
      left: unset;
      right: 7px;
      border-color: var(--color-brand-1); 
      top: 5px;
      width: 3px;
      height: 7px;
      border-width: 2px;
    }
  }
}

textarea {
  height: auto;
  height: auto;
  padding: 16px;  
}

.required, [required] {
  &::after {
    content: '*';
    margin-left: 8px;
    color: var(--color-brand-1);
  }
}

.disabled, [disabled], [data-disabled] {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}