table {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  color: var(--color-text-1);
  thead {
    font-size: 1.1em;
    font-weight: 600;
  }
  th, td {
    padding: 16px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--color-gray-300);
  }
  td {
    font-size: 1em;
  }
  @media screen and (max-width: 980px) {
    display: block;
    overflow: auto;
  }
}